.movies-card-list {
  box-sizing: border-box;
  padding: 70px 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  }

.movies-card-list__lis {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 37px;
}

.movies-card-list__button {
  width: 320px;
  height: 36px;
  background-color: #F4F4F4;
  padding: 10px 0;
  margin: 60px 0 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.movies-card-list__button:hover {
  opacity: 0.8;
}
