.movies-card {
  width: 364px;
  height: 281px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.movies-card__column {
  padding: 9px 16px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movies-card__image {
  width: 100%;
  height: 203px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.movies-card__title {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  max-width: 290px;
}

.movies-card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  padding: 0 16px;
}

.movies-card__like {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-image: url('../../images/like.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.movies-card__like_active {
  background-image: url('../../images/like-active.svg');
}

.movies-card__like:hover {
  scale: 1.15;
}

.movies-card__delete {
  background-color: inherit;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 36px;
  background-position: center;
  background-repeat: no-repeat;
}

.movies-card__delete:hover {
  opacity: 0.8;
  scale: 1.15;
}

@media screen and (max-width: 800px) {
  .movies-card {
    width: 339px;
    height: 262px;
  }

  .movies-card__column {
    padding: 9px 16px 5px;
  }

  .movies-card__image {
    height: 190px;
  }
}

@media screen and (max-width: 400px) {
  .movies-card {
    width: 300px;
    height: 237px;
  }

  .movies-card__column {
    padding: 9px 16px 5px;
  }

  .movies-card__image {
    height: 168px;
  }

  .movies-card__title {
    font-size: 12px;
    line-height: 15px;
  }
}
