.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.promo__container {
  width: 100%;
  max-width: 1280px;
  padding: 50px 70px 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #DDDEE3;
  gap: 102px;
}

.promo__about-project {
  display: flex;
  flex-direction: column;
  max-width: 640px;
}

.promo__title {
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.promo__logo {
  align-self: flex-end;
}
