.navigation {
  position: relative;
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  z-index: 3;
}

.navigation__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  text-decoration: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.navigation__link:hover {
  opacity: .7;
}

.navigation__link_signin {
  padding: 8px 20px;
  background-color: #3456F3;
  border-radius: 3px;
  color: white;
}

.navigation__link_type_account {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-left: 14px;
  min-height: 30px;
  border-radius: 40px;
  align-items: center;
  text-indent: 30px;
  border: solid 2px #efefef;
  padding: 0 5px;
}

.navigation__link_type_account::before {
  position: absolute;
  content: '';
  top: 0;
  left:0;
  width: 30px;
  height: 100%;
  background-image: url('../../images/profile.svg');
  background-repeat: no-repeat;
  background-position: center;
}
