.register {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  padding: 0 30px;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 396px;
  min-height: 527px;
  position: relative;
  width: 100%;
}

.register__logo {
  height: 38px;
  transition: all 0.3s ease-in-out;
  width: 38px;
}

.register__logo:hover {
  transform: scale(0.95);
}

.register__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  margin: 0;
}

.register__labels-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.register__label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.register__label-text {
  color: #A0A0A0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
}

.register__input {
  background-color: #f4f4f4;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  height: 46px;
  line-height: 1.21;
  padding: 10px 0;
  text-indent: 22px;
}

.register__input[type="email"] {
  font-weight: 500;
}

.register__input:focus {
  border: solid 1px #3456f3;
  outline: none;
  text-indent: 21px;
}

.register__input_error{
  color: #EE3465;
}

.register__input_error:focus{
  border: solid 1px #EE3465;
}

.register__button {
  background-color: #3456f3;
  border-radius: 3px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  margin-top: auto;
  padding: 14px 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.register__button:hover {
  opacity: 0.8;
}

.register__button_disabled {
  background-color: #f4f4f4;
  color: #c2c2c2;
  cursor: default;
}

.register__button_disabled:hover {
  opacity: 1;
}

.register__support {
  bottom: -7%;
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 400;
  left: 23%;
  line-height: 1.21;
  position: absolute;
  text-align: center;
}

.register__link {
  color: #3456f3;
  line-height: 0;
  max-width: 38px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.register__link:hover {
  opacity: 0.8;
}

.register__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}


@media screen and (max-width: 400px) {
  .register {
    padding: 56px 30px;
    justify-content: flex-start;
  }

  .register__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }

  .register__form {
    gap: 50px;
    flex: 1;
  }

  .register__labels-container {
    margin-top: 30px;
    gap: 20px;
  }

  .register__link-logo {
    display: flex;
    align-self: center;
  }

  .register__button {
    font-size: 12px;
    line-height: 1.25;
  }

  .register__support {
    font-size: 12px;
    line-height: 1.25;
    bottom: -4%;
    left: 15%;
  }
}
